@tailwind base;
@tailwind components;
@tailwind utilities;

/* make  custom btn primary */
.Btn-Primary {
  background-color: #f98407;
  color: white;
  padding: 10px 15px;
  font-size: 17px;
  font-weight: bold;
  border-radius: 10px;
  
}
.Btn-Primary:hover {
  background-color: #f8eaea;
  color: #f98407;
  padding: 10px 15px;
  font-size: 17px;
  font-weight: bold;
  border-radius: 10px;
  transition: all 0.2s;
}
/* make  custom btn secondary  */
.Btn-Secondary {
  background-color: #131413;
  color: white;
  padding: 10px 15px;
  font-size: 17px;
  font-weight: bold;
  border-radius: 10px;
  
}
.Btn-Secondary:hover {
  background-color: #ebe1e1;
  color: rgb(13, 13, 13);
  padding: 10px 15px;
  font-size: 17px;
  font-weight: bold;
  border-radius: 10px;
  transition: all 0.2s;
}

/* for make the scroll behavior smooth while sending user to another section by anchor tag */
html {
  scroll-behavior: smooth;
}
/* edit scroll bar  */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(96, 120, 115);
  border-radius: 10px;
}



.scroll{
  height: 4px;
  position: fixed;
  top: 0px;
  z-index: 9999;
  width: 100%;
  scale: 0 1;
  transform-origin: left;
  animation: scrollAnimation linear;
  animation-timeline: scroll();
}
@keyframes scrollAnimation{
  to{scale:1 1;}
}
@keyframes scrollAnimation{
  from{background-color: #f98407;}
  to{background-color: #f98407;}
 
}

@media only screen and (max-width: 600px) {
  .Btn-Primary {
    background-color: #018001;
    color: white;
    padding: 10px 15px;
    font-size: 15px;
    font-weight: 700;
    border-radius: 10px;
    
  }
  .Btn-Primary:hover {
    background-color: #f8eaea;
    color: rgb(4, 171, 7);
    padding: 10px 15px;
    font-size: 15px;
    font-weight: 700;
    border-radius: 10px;
    transition: all 0.2s;
  }
  /* make  custom btn secondary  */
  .Btn-Secondary {
    background-color: #131413;
    color: white;
    padding: 10px 15px;
    font-size: 15px;
    font-weight: 700;
    border-radius: 10px;
    
  }
  .Btn-Secondary:hover {
    background-color: #ebe1e1;
    color: rgb(13, 13, 13);
    padding: 10px 15px;
    font-size: 15px;
    font-weight: 700;
    border-radius: 10px;
    transition: all 0.2s;
  }
}